@using VsixMvcAppResult.UI.Web.Common.Mvc.Html;
@using VsixMvcAppResult.UI.Web.Areas.UserAccount;
@using VsixMvcAppResult.UI.Web.Areas.Error;
@model VsixMvcAppResult.UI.Web.Models.baseViewModel
@{ Layout = null; }

    <div class="ui-site-header ui-widget-header ui-widget-content ui-corner-all">
        <div class="ui-siteVersion">
            
            <i class="fa fa-bars"></i> - @VsixMvcAppResult.UI.Web.MvcApplication.Version
        </div>
        @*@Html.PartialMenuPreferences()
        @Html.PartialLogOnPartial()*@

        

    </div>
    <div class="ui-carriageReturn"></div>

    @*@Html.PartialMenuPreferencesSwitchers()

    <div class="ui-carriageReturn"></div>

    <div class="ui-siteMenu-TopNav ui-siteMenu ui-widget-content ui-corner-all ui-state-default" 
        data-widget="menuNav" 
        data-widget-controllerSelected="@this.ViewContext.Controller.ControllerContext.RouteData.Values["controller"].ToString()"
        data-widget-controllerAction="@this.ViewContext.Controller.ControllerContext.RouteData.Values["action"].ToString()">
        @Html.MenuGet().Render()
        <div class="ui-carriageReturn"></div>
    </div>*@
